<h1>Questionário Vocacional</h1>

<form action="/resultado" method="POST">

<input type="text" name="nome" placeholder="Seu nome" required>

<br><br>

<label>Gosta de tecnologia?</label>

<select name="tecnologia">
<option value="1">Sim</option>
<option value="0">Não</option>
</select>

<br><br>

<label>Gosta de matemática?</label>

<select name="matematica">
<option value="1">Sim</option>
<option value="0">Não</option>
</select>

<br><br>

<label>Gosta de negócios?</label>

<select name="negocios">
<option value="1">Sim</option>
<option value="0">Não</option>
</select>

<br><br>

<label>Gosta de cuidar de pessoas?</label>

<select name="saude">
<option value="1">Sim</option>
<option value="0">Não</option>
</select>

<br><br>

<label>Gosta de construir coisas?</label>

<select name="construcao">
<option value="1">Sim</option>
<option value="0">Não</option>
</select>

<br><br>

<button type="submit">Ver resultado</button>

</form>
